*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: white url(../images/fundo.png) repeat-x;
}

#container{
    width: 780px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    /*border: 1px solid red;*/
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../images/divisor.png) no-repeat left;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos

{
    color: white;
    background: #de003e;
    cursor: text;
}

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -780px;
}

#primario{
    width: 280px;
    background: blue;
    float: left;
    margin: 0 0 20px 200px;
}

#duas-colunas #primario{
    width: 575px;
}

#uma-coluna #primario{
    width: 780px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 280px;
    background: green;
    float: left;
    margin: 0 0 20px 20px;
}

.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

h2{
    font-size: 1.2em;
    background: #294c71;
    color: white;
    padding: 5px;
}

.caixa-conteudo{
    background: white;
    padding: 5px;
    margin-top: 5px;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 780px;
    margin: 0 auto;
    color: white;
}